@import url(reset.css);
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

$font-stack: 'Source Sans Pro', Helvetica, sans-serif;
$light-background: #efedf1;

$brand-primary-color: #f96332;
$brand-primary-color-hover: #ff8c65;
$brand-secondary-color: #331b4d;
$brand-secondary-color-hover: #594a6e;

$transparent-black-extra-extra-thin: rgba(0,0,0,0.025);
$transparent-black-extra-thin: rgba(0,0,0,0.1);
$transparent-black-thin: rgba(0,0,0,0.2);
$transparent-black-medium-thin: rgba(0,0,0,0.4);
$transparent-black-medium: rgba(0,0,0,0.6);
$transparent-black-thick: rgba(0,0,0,0.8);

$transparent-white-thin: rgba(255,255,255,0.2);
$transparent-white-medium: rgba(255,255,255,0.5);
$transparent-white-thick:rgba(255,255,255,0.8);

%triangle {
	content: ''; 
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: $transparent-black-medium;
}

%font-awesome {
	font-family: 'Font Awesome 5 Free'; font-weight: 900;
}

@mixin button($button-color, $button-color-hover, $button-off-color-hover) {
	display: flex;
	border: 1px solid $button-color;
	border-radius: 3px;
	white-space: nowrap;
	cursor: pointer;
	div {
		padding: 10px 15px 10px 15px;
		&.on {
			background: $button-color;
			color: white;
			transition: all 0.4s ease-in-out;
			&:hover {
				background: $button-color-hover;
			}
		}
		&.separator {
			width: 0;
			padding: 0;
			border-left: 1px solid $button-color;
		}
		&.off {
			white-space: nowrap;
			color: $button-color;
			transition: all 0.4s ease-in-out;
			&:hover {
				background: $button-off-color-hover;
			}
		}
	}
}

html {
	height: 100%;
	::-webkit-scrollbar { width: 8px; }
	::-webkit-scrollbar-track { background: $transparent-black-extra-thin; border-radius: 8px; }
	::-webkit-scrollbar-thumb { background: $transparent-black-thin; border-radius: 8px; }
	::-webkit-scrollbar-thumb:hover { background: $transparent-black-medium; }
}

body {
	height: 100%;
	font: 0.95em $font-stack; 
	a {
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

.flex-container { 
	display: flex;
	height: 100%;
}

#nav {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	min-width: 170px;
	background: $brand-secondary-color;
	flex-shrink: 0;
	flex-grow: 0;
	#avatar {
		position: relative;
		width: 80px;
		height: 80px;
		margin: 20px auto 40px auto;
		border: 1px solid $brand-secondary-color;
		background: $transparent-white-thin;
		border-radius: 80px;
		cursor: pointer;
		transition: all 0.4s ease-in-out;
		&:hover {
			background: $transparent-white-medium;
		}
		span {
			position: absolute;
			transform: translateX(-50%) translateY(-50%);
			top: 50%;
			left: 50%;
			font-size: 2.5rem;
			color: $light-background;
		}
		#name {
			position: relative;
			top: 90px;
			margin: 0 auto 15px auto;
			text-align: center;
			color: $transparent-white-medium;
		}
		#profile-arrow { 
			@extend %triangle;
			position: absolute;
			top: 32px;
			right: -25px;
			border-color: $transparent-white-thick;
			&.opened {
				top:38px;
				transform: rotate(225deg);
			}
			&.closed {
				transform: rotate(45deg);
			}
		}
	}
	#credits {
		margin: 15px 18px 0 18px; 
		text-align: center;
		color: $transparent-white-thick;
		padding: 5px 0 10px;
		border-color: $transparent-white-thin $transparent-white-thin transparent $transparent-white-thin;
		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-radius: 3px 3px 0 0;

	}
	#add-credits{
		margin: 0 18px 20px 18px;
		padding: 5px 0 7px;
		background: $brand-primary-color;
		border-radius: 0 0 3px 3px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		color: $transparent-white-thick;
		cursor: pointer;
		transition: all 0.4s ease-in-out;
		&:hover {
			background: $brand-primary-color-hover;
			color: white;
		}
	}
	ul li {
		transition: all 0.4s ease-in-out;
		a {
			display: block;
			padding: 10px 15px;
			text-decoration: none;
			color: $transparent-white-thick;
			i {
				padding-right: 10px;
				color: $transparent-white-medium;
				transition: all 0.4s ease-in-out;
			}
		}
		&:hover {
			background: $transparent-white-thin;
			i {
				color: white;
			}
		}
		&.active {
			position: relative;
			background: $transparent-white-thin;
			:after {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				content: ''; 
				border-color: transparent $light-background transparent transparent;
				border-style: solid;
				border-width: 6px 7px 6px 0;
			}
			i {
				color: white;
			}
		}
	}
	ul.profile-menu li {
		background: $brand-primary-color;
		transition: all 0.4s ease-in-out;
		&:hover {
			background: $brand-primary-color-hover;
		}
	}
	#logo {
		position: fixed;
		bottom: 0;
		width: 180px;
		height: 100px;
		background: url(../images/fitset-logo.svg) 50% 50% no-repeat;
		background-size: 50%;
	}
}

#filter {
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 350px;
	min-width: 350px;
	height: 100%;
	background: $light-background;
	a {
		color: $transparent-black-medium;
	}
	h1 a {
		color: $transparent-black-thick;
	}
	.time-slider {
		padding: 8px 20px 4px;
		.time { 
			margin-bottom: 15px;
			width: auto;
			overflow: hidden;
			.start {
				float: left;
			}
			.end {
				float: right;
			}
		}
		.slider {
			position: relative;
			width: auto;
			border: 3px solid $brand-secondary-color;
			margin: auto;
			cursor: pointer;
			&:before {
				position: relative;
				content: '';
				float: left;
				width: 20px; height: 20px; background: white;
				border-radius: 20px;
				top:-10px;
				left:-4px;
				box-shadow: 0px 0px 3px $transparent-black-medium;
			}
			&:after {
				position: relative;
				content: '';
				float: right;
				width: 20px; height: 20px; background: white;
				border-radius: 20px;
				top:-10px;
				right:-4px;
				box-shadow: 0px 0px 3px $transparent-black-medium;
			}
		}
	}
	.date {
		position: relative;
		display: flex;
		width: auto;
		text-align: center;
		padding: 8px 17px 10px 17px;
		border-top: 1px solid $transparent-black-extra-thin;
		div {
			flex-grow: 1;
			padding: 0 5px;
			&.selected a {
				color: $brand-secondary-color;
			}
			&.arrow {
				position: relative;
				@extend %triangle;
				top:50%;
				transform: translateY(-50%);
				margin-top: -4px;
				padding: 0;
				cursor: pointer;
				&.left {
					transform: rotate(-225deg);
				}
				&.right {
					transform: rotate(-45deg);
					float: right;
				}
			}
		}
	}
	.filter-type {
		position: relative;
		padding: 8px 20px;
		border-top: 1px solid $transparent-black-extra-thin;
		&:first-child { border-top: 0; }
		h1 {
			font-weight: 600;
		}
		.icon {
			@extend %triangle;
			position: absolute;
			top: 10px;
			right: 20px;
			cursor: pointer;
			&.opened {
				transform: rotate(225deg);
				top: 16px;
			}
			&.closed { transform: rotate(45deg); }
		}
		.number {
			margin-left: 0.2rem;
		}
		.clear {
			margin-left: 0.5rem;
			font-weight: 400;
			color: $transparent-black-medium;
		}
		.button.filter {
			@include button($brand-secondary-color, $brand-secondary-color, $transparent-black-extra-extra-thin);
			margin: 10px 0;
			text-align: center;
			.on, .off { width: 50%; }
		}
		ul { /* Checkboxes */
		overflow: auto;
		max-height: 400px;
			li {
				&:first-child { margin-top: 5px; }
				position: relative;
				padding: 5px 0 5px 25px;
				&:before {
					position: absolute;
					top: 5px;
					left:0; 
					width: 15px;
					height: 15px; 
					content: '';
					border:1px solid $transparent-black-medium;
					margin-right: 10px;
				}
				&.selected:before {
					background: $brand-secondary-color;
					border:1px solid $brand-secondary-color;
				}
				&.diagonal-fill:before {
					background-image: linear-gradient(135deg, white 50%, $brand-secondary-color 50%);
					border:1px solid $brand-secondary-color;
				}
			}
		}
	}
}

#class-list {
	flex: 1 1 auto;
	overflow: auto;
	padding-top: 20px;
	background: $transparent-black-extra-extra-thin;
	.favourite-icon {
		cursor: pointer;
		padding-right: 7px;
		&:after { @extend %font-awesome; content: '\f004'; }
		&.on:hover:after { font-weight: 300; }
		&.off:after { font-weight: 300; }
		&.off:hover:after { font-weight: 900; }
	}
	.date {
		font-size: 1.3rem;
		font-weight: 300;
		text-align: center;
		color: $transparent-black-thick;
	}
	.class {
		padding: 20px;
		margin: 20px;
		background: white;
		border-radius: 3px;
		box-shadow: 0px 0px 3px 1px $transparent-black-extra-thin;
		transition: all 0.4s ease-in-out;
		h1, h1 a {
			font-size: 1.1rem;
			line-height: 1.8rem;
			font-weight: 600;
			color: $transparent-black-thick;
		}
		h2, h2 a {
			font-weight: 300;
			line-height: 1.4rem;
			color: $transparent-black-thick;
		}
		h3 {
			color: $transparent-black-medium;
			line-height: 1.4rem;
			font-weight: 300;
		}
		.class-details {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.studio {
				flex: 1 1 200px;
			}
			.location {
				flex: 1 1 80px;
				font-weight: 300;
			}
			.activity {
				flex: 1 1 80px;
				font-weight: 300;
			}
			.time {
				flex: 1 1 80px;
				h1 { font-weight: 400; }
			}
			.book {
				flex: 0 0 auto;
			}
			.description {
				flex:0 1 auto;
				overflow: auto;
				display: none;
				margin-top: 10px;
				color: $transparent-black-medium;
			}
		}
	}
	.button {
		@include button($brand-primary-color, $brand-primary-color-hover, white);
		.off { cursor: auto; }
	}
}

#class-list.bookings {
	.filter {
		display: inline-block;
		position: relative;
		transform: translateX(-50%);
		left: 50%;
		margin-bottom: 20px;
		.button {
			@include button($brand-secondary-color, $brand-secondary-color, $transparent-black-extra-extra-thin);
			.off { cursor: pointer; }
		}
	}
	.button {
		@include button($transparent-black-medium, $transparent-black-medium-thin, white);
	}
}

#map {
	flex: 1 1 auto;
	background: url(../images/map.png) 47% 50% no-repeat;
	background-size: auto 1400px;
}

@media screen and (max-height: 650px) {
	.nav .logo { display: none; }
}








